html, body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;

    font-family: 'Courier Prime', monospace;
    font-size: 15px;
    color: white;

    background: black;

    overflow-y: auto;
}

@media screen and (min-width: 600px) {
    html, body {
        background-image: url("../img/codebackground2.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}

.wrapper {
    width: 90%;
    height: 90%;
    margin: 0px;

    display: flex;
    flex-direction: column;

    justify-content: top;
    align-items: center;
}

@media screen and (min-width: 960px) and (min-height: 660px) {
    .wrapper {
        width: 70%;
        height: 90%;
        margin: 30px;
    }
}

@media screen and (min-width: 1120px) and (min-height: 740px) {
    .wrapper {
        width: 50%;
        height: 90%;
        margin: 30px;
    }
}

.intro, .current, .gallery, .contact {
    background-color: rgba(0, 0, 0, 1);
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border-style: solid;
}

.intro, .gallery {
    border-color: rgba(255, 0, 102, 1);
}

.current, .contact {
    border-color: rgba(167, 0, 226, 1);
}

.name {
    margin: 40px;
    margin-bottom: 10px;

    color: rgba(255, 51, 204, 1);
    font-size: 45px;

    text-align: center;
}

.name2 {
    margin: 40px;
    margin-top: 0px;

    color: rgba(118, 0, 87, 1);
    font-size: 20px;

    text-align: center;
}

.return {
    text-decoration: none;
}

.current {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 850px) {
    .current {
        flex-direction: row;
        justify-content: center;
    }
}

.currentpicture, .currentdescription {
    margin: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    margin: 0px;
    margin-bottom: 10px;
    
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;

    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);

        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 850px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);

        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1120px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);

        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 1400px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);

        justify-content: center;
        align-items: center;
    }
}

.image {
    margin: 20px;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.pic, .des {
    margin: 0px;
    text-align: center;
}

.links {
    margin: 40px;
    margin-bottom: 10px;
    padding: 0px;
    list-style: none;
}

.email {
    margin: 40px;
    margin-top: 0px;
}

.links li {
    display: inline-block;
    margin: 5px;
}

.links a {
    text-decoration: none;
    color: rgba(118, 0, 87, 1);
}

.email a {
    color: rgba(118, 0, 87, 1);
    text-decoration: none;
}

.intro, .current, .gallery, .contact {
    margin: 30px;
}