html, body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    margin: 0px;
    padding: 0px;

    font-family: 'Courier Prime', monospace;
    color: white;

    background: black;
    background-image: url("../img/codebackground2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.wrapper {
    position: relative;
     
    width: 90%;
    height: 90%;
    margin: 0px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.intro, .contact {
    background-color: rgba(0, 0, 0, 1);

    margin: 30px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border-style: solid;
}

.intro {
    border-color: rgba(255, 0, 102, 1);
    border: blue;
}

.contact {
    border-color: rgba(167, 0, 226, 1);
}

.name {
    margin: 40px;
    margin-bottom: 0px;

    color: rgba(255, 51, 204, 1);
    font-size: 45px;

    text-align: center;
}

.aboutme {
    margin: 20px;
    margin-bottom: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pfsection, .biosection {
    margin: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.pfpic {
    object-fit: cover;

    width: 200px;
    height: 200px;

    border-radius: 50%;
}

.bio {
    font-size: 15px;
}

/*
@media screen and (min-width: 1000px) and (min-height: 1000px) {
    .wrapper {
        width: 50%;
        margin: 0px;
    
        display: flex;
        flex-direction: column;
    
        justify-content: center;
        align-items: center;
    }
    
    .intro, .contact {
        background-color: rgba(0, 0, 0, 1);
    
        margin: 30px;
        width: 100%;
        height: auto;
    
        display: flex;
        flex-direction: column;
    
        justify-content: center;
        align-items: center;
    
        border-style: solid;
    }
    
    .intro {
        border-color: rgba(255, 0, 102, 1);
    }
    
    .contact {
        border-color: rgba(167, 0, 226, 1);
    }
    
    .name {
        margin: 40px;
        margin-bottom: 0px;
    
        color: rgba(255, 51, 204, 1);
        font-size: 45px;
    }
    
    .aboutme {
        margin: 20px;
        margin-bottom: 10px;
        
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .pfsection, .biosection {
        margin: 20px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .pfpic {
        object-fit: cover;
    
        width: 200px;
        height: 200px;
    
        border-radius: 50%;
    }
    
    .bio {
        font-size: 15px;
    }
}*/

.links {
    margin: 40px;
    margin-bottom: 10px;
    padding: 0px;
    list-style: none;
}

.email {
    margin: 40px;
    margin-top: 0px;
}

.links li {
    display: inline-block;
    margin: 5px;
}

.links a {
    text-decoration: none;
    color: rgba(118, 0, 87, 1);
}

.email a {
    color: rgba(118, 0, 87, 1);
    text-decoration: none;
}