html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Courier Prime', monospace;
    background: linear-gradient(to bottom, rgba(236, 233, 242, 1) 0%, rgba(186, 169, 222, 1) 100%);
    background-image: url("img/bubbles.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 25px;
    max-width: 90%;
    max-height: 90%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.heading {
    margin: 25px;
    max-height: 20%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    font-family: 'Comfortaa', cursive;
    margin: 5px;
    font-size: 45px;
}

.links {
    margin: 15px;
    list-style: none;
    padding: 0px;
}

.links li {
    display: inline-block;
    margin: 2px;
}

.links a {
    text-decoration: none;
    color: rgba(73, 49, 127, 1);
}

.aboutme, .edu, .exp, .projects, .contact {
    margin: 15px;
    margin-top: 0px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile, .eduheading, .expheading, .pheading, .cheading {
    margin: 0px;
    max-width: 200px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}

.pfp {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.bio, .eduinfo, .expinfo, .pinfo, .cinfo {
    margin: 0px;
    max-width: 70%;
    flex: 1;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 15px;
}

.cinfo a {
    color: rgba(73, 49, 127, 1);
}