html, body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;

    font-family: 'Courier Prime', monospace;
    font-size: 15px;
    color: white;

    background: black;

    overflow-y: auto;
}

@media screen and (min-width: 600px) {
    html, body {
        background-image: url("../img/codebackground2.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}

.wrapper {
    width: 90%;
    height: 90%;
    margin: 0px;

    display: flex;
    flex-direction: column;

    justify-content: top;
    align-items: center;
}

@media screen and (min-width: 960px) and (min-height: 660px) {
    .wrapper {
        width: 70%;
        height: 90%;
        margin: 30px;
    }
}

@media screen and (min-width: 1120px) and (min-height: 740px) {
    .wrapper {
        width: 50%;
        height: 90%;
        margin: 30px;
    }
}

.intro, .contact {
    background-color: rgba(0, 0, 0, 1);
    width: 100%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    border-style: solid;
}

.intro {
    border-color: rgba(255, 0, 102, 1);
}

.contact {
    border-color: rgba(167, 0, 226, 1);
}

.name {
    margin: 40px;
    margin-bottom: 10px;

    color: rgba(255, 51, 204, 1);
    font-size: 45px;

    text-align: center;
}

.name2 {
    margin: 40px;
    margin-top: 0px;

    color: rgba(118, 0, 87, 1);
    font-size: 20px;

    text-align: center;
}

.return {
    text-decoration: none;
}

.form {
    width: 90%;
    margin: 40px;
    margin-top: 0px;
    margin-bottom: 0px;

    border-style: solid;
    border-color: rgba(167, 0, 226, 1);
}

.contactform {
    margin-bottom: 20px;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: left;
}

.formelement {
    margin: 20px;
    margin-bottom: 0px;
    
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: left;
}

.input, .textbox, .submit {
    background-color: black;
    font-family: 'Courier Prime', monospace;
    color: rgba(255, 51, 204, 1);
    border-style: solid;
    border-color: rgba(118, 0, 87, 1);
}

.input {
    width: 50%;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
    border: 1px solid white;
}

.textbox {
    min-height: 50px;
    max-height: 200px;
    min-width: 50%;
    max-width: 100%;
}

.submit {
    height: 40px;
    width: 100px;
    margin: auto;

    color: rgba(167, 0, 226, 1);
}

button[type=submit]:hover {
    background-color: rgba(255, 51, 204, 1);
    color: white;
}

.or {
    margin: 20px;
}

.emaillink {
    height: 40px;
    width: 90%;
    margin: 40px;
    margin-top: 0px;

    border-style: solid;
    border-color: rgba(167, 0, 226, 1);

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.emaillink a {
    color: white;
    text-decoration: none;
}

.links {
    margin: 40px;
    margin-bottom: 10px;
    padding: 0px;
    list-style: none;
}

.email {
    margin: 40px;
    margin-top: 0px;
}

.links li {
    display: inline-block;
    margin: 5px;
}

.links a {
    text-decoration: none;
    color: rgba(118, 0, 87, 1);
}

.email a {
    color: rgba(118, 0, 87, 1);
    text-decoration: none;
}

.intro, .current, .gallery, .contact {
    margin: 30px;
}